// Body
$body-bg: linear-gradient(to top, #181920 55%, #2c2e3a 100%);
$gradient: linear-gradient(to right, #83612a 55%, #b08744 100%);
$font-size-root: 16px;



$container-max-widths: (
  "xs": 430px,
  "md": 960px,
  "lg": 1140px,
  "xl": 1140px,
);


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-family: "Poppins", sans-serif !default;

.v-application,
.v-application .headline {
  font-family: $font-family !important;
}
@media screen and (max-width:425px) {
  .v-btn__content {
    font-size: 12px !important;
  }
}
.v-btn__content {
  font-size: 16px;
  font-family: $font-family !important;
}

h4,
h3,
h2, 
p,
.v-list-item__subtitle{
  font-family: $font-family !important;
  color: #ffffff;
}
